using System.Text.Json.Serialization;
using Microsoft.Extensions.DependencyInjection;
using Mittons.Azure.Devops.Extension.Sdk.Xdm;
using Mittons.Azure.Devops.Extension.SourceGenerator.Service;
// using Mittons.Azure.Devops.Extension.Models;

#nullable enable

namespace {{Namespace}}
{
    {{> Extensions}}

    {{> ProxyFunctionDefinitionCollection}}

    {{> Implementation}}
}
