using System.Text.Json.Serialization;
using Microsoft.Extensions.DependencyInjection;
using Mittons.Azure.Devops.Extension.Sdk.Xdm;
using Mittons.Azure.Devops.Extension.SourceGenerator.Service;

#nullable enable

namespace {{Namespace}}
{
    {{> Extensions}}

    {{> RemoteProxyFunctionDefinitionCollection}}

    {{> Implementation}}
}
