    public static class {{ClassName}}Extensions
    {
        public static IHttpClientBuilder Add{{ClassName}}(this IServiceCollection @serviceCollection)
            => @serviceCollection.AddHttpClient<{{InterfaceName}}, {{ClassName}}>((serviceProvider, client) => {
                var sdk = serviceProvider.GetRequiredService<ISdk>();
                var resolver = serviceProvider.GetRequiredService<IResourceAreaUriResolver>();

                client.BaseAddress = resolver.Resolve("{{ResourceAreaId}}");

                client.DefaultRequestHeaders.Authorization = sdk.AuthenticationHeaderValue;
                client.DefaultRequestHeaders.Add("X-VSS-ReauthenticationAction", "Suppress");
                client.DefaultRequestHeaders.Add("X-TFS-FedAuthRedirect", "Suppress");
            });
    }
