{{# StringMethods}}

        public async {{{ReturnType}}} {{MethodName}}({{{ParametersList}}})
        {
            {{> BuildAndSendRequest}}

            return await httpResponseMessage.Content.ReadAsStringAsync();
        }
{{/ StringMethods}}