{{# StringMethods}}

        public async {{{ReturnType}}} {{MethodName}}({{{ParametersList}}})
        {
            {{> BuildAndSendRequest}}

            var result = await httpResponseMessage.Content.ReadAsStringAsync();

            {{# IsInnerReturnTypeNullable}}
            if (result == string.Empty)
            {
                return default;
            }
            {{/ IsInnerReturnTypeNullable}}

            return result;
        }
{{/ StringMethods}}
