{{# XmlMethods}}

        public async {{{ReturnType}}} {{MethodName}}({{{ParametersList}}})
        {
            {{> BuildAndSendRequest}}

            var responseStream = await httpResponseMessage.Content.ReadAsStreamAsync();

            {{# IsInnerReturnTypeNullable}}
            if (responseStream.Length == 0)
            {
                return default;
            }
            {{/ IsInnerReturnTypeNullable}}

            var xmlSerializer = new XmlSerializer(typeof({{{NonNullableInnerReturnType}}}));

            var result = xmlSerializer.Deserialize(responseStream) as {{{NonNullableInnerReturnType}}};

            if (result is null)
            {
                throw new NullReferenceException();
            }

            return result;
        }
{{/ XmlMethods}}
