{{# XmlMethods}}

        public async {{{ReturnType}}} {{MethodName}}({{{ParametersList}}})
        {
            {{> BuildAndSendRequest}}

            var responseStream = await httpResponseMessage.Content.ReadAsStreamAsync();

            {{# IsInnerReturnTypeNullable}}
            if (responseStream.Length == 0)
            {
                return default;
            }
            {{/ IsInnerReturnTypeNullable}}
            {{^ IsInnerReturnTypeNullable}}
            if (responseStream.Length == 0)
            {
                throw new NotImplementedException();
            }
            {{/ IsInnerReturnTypeNullable}}

            var xmlSerializer = new XmlSerializer(typeof({{{NonNullableInnerReturnType}}}));

            return xmlSerializer.Deserialize(responseStream) as {{{NonNullableInnerReturnType}}};
        }
{{/ XmlMethods}}