{{# ZipArchiveMethods}}

        public async {{{ReturnType}}} {{MethodName}}({{{ParametersList}}})
        {
            {{> BuildAndSendRequest}}

            var responseStream = await httpResponseMessage.Content.ReadAsStreamAsync();

            return new ZipArchive(responseStream, ZipArchiveMode.Read, false);
        }
{{/ ZipArchiveMethods}}