    public const string {{MethodName}}_PropertyName = \"{proxyName}\";
    [JsonPropertyName({{MethodName}}_PropertyName)]
    public ProxyFunctionDefinition? {{MethodName}}_ProxyFunctionDefinition {{ get; init; }}
