    internal record {{ClassName}}RemoteProxyFunctionDefinitionCollection([property: JsonPropertyName("simpleFunction")]RemoteProxyFunctionDefinition SimpleFunction, [property: JsonPropertyName("renamedFunction")]RemoteProxyFunctionDefinition RenamedFunction);
