{{# ProxyFunctionMethods}}
        public async {{{ReturnType}}} {{MethodName}}({{{ParametersList}}})
        {
            await _initializationTask.Value;

            await _channel.InvokeRemoteProxyMethodVoidAsync(_definition?.{{MethodName}}_ProxyFunctionDefinition, cancellationToken, {{{ProxyParametersList}}});
        }
{{/ ProxyFunctionMethods}}

{{# ProxyFunctionMethods}}
        public async {{{ReturnType}}} {{MethodName}}<{{{InnerReturnType}}}>({{{ParametersList}}})
        {
            await _initializationTask.Value;

            return await _channel.InvokeRemoteProxyMethodAsync<{{{InnerReturnType}}}>(_definition?.{{MethodName}}_ProxyFunctionDefinition, cancellationToken, {{{ProxyParametersList}}});
        }
{{/ ProxyFunctionMethods}}