{{# RemoteProxyFunctionGenericImplementations}}

        public async {{{ReturnType}}} {{{MethodNameWithTypeParameters}}}{{{ParameterList}}}
        {
            await _initializationTask.Value;

            var result = await _channel.InvokeRemoteProxyMethodAsync{{{InnerReturnType}}}(_remoteProxyFunctionDefinitionCollection!.{{MethodName}}.FunctionId, {{ProxyParameters}});

            return result;
        }
{{/ RemoteProxyFunctionGenericImplementations}}