{{# RemoteProxyFunctionVoidImplementations}}

        public async Task {{MethodName}}({{{ArgumentParameters}}})
        {
            await _initializationTask.Value;

            await _channel.InvokeRemoteProxyMethodVoidAsync(_remoteProxyFunctionDefinitionCollection.{{MethodName}}.FunctionId, {{ProxyParameters}});
        }
{{/ RemoteProxyFunctionVoidImplementations}}