{{# RemoteProxyFunctionGenericImplementations}}

        public async {{{ReturnType}}} {{{MethodNameWithTypeParameters}}}{{{ParameterList}}}
        {
            await _initializationTask.Value;

            return await _channel.InvokeRemoteProxyMethodAsync<{{{InnerReturnType}}}>(_remoteProxyFunctionDefinitionCollection.{{MethodName}}.FunctionId, {{ProxyParameters}});
        }
{{/ RemoteProxyFunctionGenericImplementations}}