{{# RemoteProxyFunctionVoidImplementations}}

        public async {{{ReturnType}}} {{{MethodNameWithTypeParameters}}}{{{ParameterList}}}
        {
            await _initializationTask.Value;

            await _channel.InvokeRemoteProxyMethodVoidAsync(_remoteProxyFunctionDefinitionCollection!.{{MethodName}}.FunctionId, {{ProxyParameters}});
        }
{{/ RemoteProxyFunctionVoidImplementations}}