.bolt-coin-content {
    align-items: center;
    background-color: rgba(var(--palette-neutral-30, 166, 166, 166), 1);
    border-radius: 50%;
    color: white;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;
    user-select: none;
    pointer-events: none;
}

img.bolt-coin-content {
    object-fit: cover;
    background-color: transparent;
}

.bolt-coin-content.pending-load-image {
    visibility: hidden;
}