.bolt-tooltip {
    max-width: 320px;
    animation: tooltip-fade-in 300ms ease-in;
    position: absolute;
    z-index: 1000000;
    background-color: rgba(var(--palette-neutral-80, 51, 51, 51), 0.95);
    border-radius: 2px;
    color: rgba(var(--palette-neutral-0, 255, 255, 255), 1);
    padding: 8px 12px;
    text-align: left;
    word-break: normal;
    /* NOTE: List break-word first and anywhere second. Safari/Opera do not support anywhere, they will falback to break-word */
    overflow-wrap: break-word;
    overflow-wrap: anywhere;
    font-size: 0.875rem;
}

.bolt-tooltip-fade-out {
    animation: tooltip-fade-out 300ms ease-in;
    pointer-events: none;
}

@keyframes tooltip-fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes tooltip-fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}