@using Microsoft.AspNetCore.Components.Web

<div id="@Id" class="bolt-tooltip body-m" role="tooltip" @onfocusout="@OnFocusInCallback"
    @onfocusout="@OnFocusOutCallback">
    @ChildContent
</div>

@code
{
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string? Id { get; set; }

    [Parameter]
    public EventCallback<FocusEventArgs> OnFocusInCallback { get; set; }

    [Parameter]
    public EventCallback<FocusEventArgs> OnFocusOutCallback { get; set; }
}