{{# ByteArrayMethods}}

        public async {{{ReturnType}}} {{MethodName}}({{{ParametersList}}})
        {
            {{> BuildAndSendRequest}}

            return await httpResponseMessage.Content.ReadAsByteArrayAsync();
        }
{{/ ByteArrayMethods}}