    internal static class {{ClassName}}Extensions
    {
        public static IHttpClientBuilder Add{{ClassName}}(this IServiceCollection @serviceCollection)
            => @serviceCollection.AddHttpClient<{{InterfaceName}}, {{ClassName}}>((serviceProvider, client) => {
                var resourceAreaId = "{{ResourceAreaId}}";
                var sdk = serviceProvider.GetRequiredService<ISdk>();

                if ((sdk.ResourceAreaUris is null))
                {
                    throw new NullReferenceException("ResourceAreaUris have not been set, ensure the Sdk is initialized.");
                }

                if (!sdk.ResourceAreaUris.TryGetValue(resourceAreaId, out var baseAddress))
                {
                    throw new ArgumentException($"Invalid resource id [{resourceAreaId}]");
                }

                client.BaseAddress = baseAddress;

                client.DefaultRequestHeaders.Authorization = sdk.AuthenticationHeader;
                client.DefaultRequestHeaders.Add("X-VSS-ReauthenticationAction", "Suppress");
                client.DefaultRequestHeaders.Add("X-TFS-FedAuthRedirect", "Suppress");
            });
    }
