{{# JsonMethods}}

        public async {{{ReturnType}}} {{MethodName}}({{{ParametersList}}})
        {
            {{> BuildAndSendRequest}}

            return await httpResponseMessage.Content.ReadFromJsonAsync<{{{InnerReturnType}}}>();
        }
{{/ JsonMethods}}