{{# IsByteArrayBody}}
            requestMessage.Content = new ByteArrayContent({{ByteArrayParameter}});
            requestMessage.Content.Headers.ContentType = new MediaTypeHeaderValue("{{ContentType}}");
{{/ IsByteArrayBody}}