using System.IO.Compression;
using System.Net.Http.Headers;
using System.Net.Mime;
using System.Net.Http.Json;
using System.Text.RegularExpressions;
using System.Xml;
using System.Xml.Serialization;
using Microsoft.Extensions.DependencyInjection;
using Mittons.Azure.Devops.Extension.Api.Net.Http;
using Mittons.Azure.Devops.Extension.Sdk;

#nullable enable

namespace {{Namespace}}
{
    {{> Extensions}}

    {{> Implementation}}
}
