{{# XmlMethods}}

        public async {{{ReturnType}}} {{MethodName}}({{{ParametersList}}})
        {
            {{> BuildAndSendRequest}}

            var responseStream = await httpResponseMessage.Content.ReadAsStreamAsync();

            var xmlSerializer = new XmlSerializer(typeof({{{InnerReturnType}}}));

            return xmlSerializer.Deserialize(responseStream) as {{{InnerReturnType}}};
        }
{{/ XmlMethods}}